.team {
  max-width: 100%;
  padding: 100px 0;
}
.team-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.team-row__item {
  margin: 0 15px;
  max-width: 300px;
  transition: all 0.3s cubic-bezier(0.3, 0, 1, 1);
}
.team-row__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.item__img {
  max-width: 270px;
  height: 270px;
  margin-bottom: 20px;
}
.item__img img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__item_title {
  margin-bottom: 10px;
}
.item__title_text {
  text-transform: none;
  font-family: 'Raleway';
  font-size: 1.375rem;
  color: #000000;
  text-align: left;
}
.row__item_subtitle {
  margin-bottom: 10px;
}
.item__subtitle_text {
  font-family: 'Raleway';
  font-size: 0.8125rem;
  color: #ec1a1a;
  text-align: left;
}
.row__item_description {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-size: 0.875rem;
  color: #6c7279;
  text-align: left;
}
.item__social_list {
  display: flex;
  align-items: center;
}
.social__list_link {
  padding: 15px;
  border: 1px solid rgba(156, 156, 156, 0.3);
  margin: 0 2px;
}
